
#listItem {{
	<li>Id: $id, Name: $name</li>
}}


#elem  {{
	<div> Some Heading </div>

	the time is: $time
	<br>
	%listItem

	%listItem[items]
	<hr>
	<ul>
		%[items]{{ <li>Id: $id, Name: $name</li> }}

		<li>Id: 1, Name: some name 1</li>
		<li>Id: 2, Name: some name 2</li>
		<li>Id: 3, Name: some name 3</li>

	</ul>
	@user.username: $user.name
	@user.age : $user.age
	
	@requires(@buildings.$buildName,$level)



}}